# vim: filetype=sh

# Lizenz-E-Mail Adresse
FE2_EMAIL=alamos@feuerwehr.beispiel

# Lizenz-E-Mail Password
FE2_PASSWORD=pass1word

# Gewünschter Aktivierungsname
FE2_ACTIVATION_NAME=fe2_master

# Die nachfolgenden Werte müssen in der Regel nicht angepasst werden.
FE2_IP_MONGODB=fe2_database
FE2_PORT_MONGODB=27017
# Änderung nur bei Bedarf - Wert muss auskommentiert werden, damit er genutzt wird, anderenfalls gelten die Einstellungen der logback.xml-Datei (data/fe2/config/data/logback.xml)
#FE2_LOG_LEVEL=debug
